.movie-list{
  padding: 24px 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  width: 100%;
} 

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px);
}